.header  {
    width: 100%;      
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;   
    padding: 0.5rem;
}
.header--title {
    font-size: 1.5rem;
}

.header__navegation--avatar {
    background: none;
}

.header__navegation {
    position: relative;
    display:  flex;
    align-items: center;    
    gap: 1rem;
}

.header__navegation--btn {
    background-color: var(--brand100);
    color: var(--gray900);
    padding-inline: 1rem;
    
}

.posts-user-card-picture {   
    width: 3rem;
    height:3rem;
    border-radius: 50%;
    border: 2px solid var(--brand100);
}

