html, body, div, span, h1, h2, h3, h4, h5, h6,
p, a, em, img, small, strike, strong, sub, sup,
b, u, i, ol, ul, li, fieldset, form, label, legend,
caption, article, aside, details, figure, figcaption, 
footer, header, nav, output, section, summary {
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}